<!doctype html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="js/vue.js"></script>
  <script src="js/v2c.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    pre {
      font-size: 10px;
      line-height: 7px;
    }

    .col-md-6 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .col-md-12 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .center {
      text-align: center;
    }
  </style>
</head>

<body style="padding-top: 0px;">
  <div class="album py-5" id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label>高度</label>
            <input v-model="video.height" type="number" class="form-control" :disabled="running">
          </div>
          <div class="form-group">
            <label>宽度</label>
            <input v-model="video.width" type="number" class="form-control" :disabled="running">
          </div>
          <div class="form-group">
            <label>字符集</label>
            <textarea v-model="charset" type="text" class="form-control" :disabled="running"></textarea>
          </div>
          <button class="btn btn-primary" @click="process"
            :disabled="running || !video.height || !video.width || !video.src || charset.length === 0">开始</button>
          <button class="btn btn-primary" @click="end" :disabled="!running">完成</button>
        </div>

        <div class="col-md-6">
          <video :src="video.src" @loadedmetadata="loaded" id="video" style="max-width: 100%;"></video>
        </div>

        <div class="col-md-12 center">
          <pre>{{frame}}</pre>
        </div>
        <div class="col-md-12 center">
          <canvas id="canvas">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</body>

<script>
  async function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  var app = new Vue({
    el: '#app',
    data: {
      file: null,
      videoElem: null,
      video: {
        src: null,
        height: null,
        width: null,
        duration: null,
      },
      running: false,
      charset: '$@B%8&WM#*oahkbdpqwmzcvunxrjft/\\|()1{}[]?-_+~<>i!;:,\"^`\'. ',
      frame: '',
    },
    async mounted() {
      const constraints = {
        video: true,
        audio: false
      };
      let cameraStream = await navigator.mediaDevices.getUserMedia(constraints);
      let video = document.getElementById('video');
      if ("srcObject" in video) {
        video.srcObject = cameraStream;
      } else {
        video.src = window.URL.createObjectURL(cameraStream);
      }
      this.video.src = cameraStream;
      video.onloadedmetadata = function (e) {
        video.play();
      };
    },
    methods: {
      async start() {
      },
      previewFile(event) {
        this.file = event.target.files[0];
        this.video.src = window.URL.createObjectURL(this.file);
      },
      loaded(event) {
        const video = event.target;
        this.video.height = video.videoHeight;
        this.video.width = video.videoWidth;
        this.video.duration = Math.floor(video.duration * 10);
      },
      async end() {
        this.running = false;
      },
      async process() {
        this.running = true;
        const videoElem = document.getElementById('video');
        const canvasElem = document.getElementById('canvas');
        canvasElem.width = this.video.width * 7;
        canvasElem.height = this.video.height * 7;
        const ctx = canvasElem.getContext('2d');
        const v2cVideo = new V2CVideo(videoElem, this.video.width, this.video.height, this.charset);
        while (this.running) {
          const screenshot = v2cVideo.screenshot();
          this.frame = screenshot.text;
          ctx.clearRect(0, 0, canvasElem.width, canvasElem.height);
          ctx.putImageData(screenshot.colorfulImage, 0, 0);
          await sleep(100);
        }
        this.running = false;
      },
    }
  })
</script>

<script src="js/jquery-3.5.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>