<!doctype html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    pre {
      font-size: 10px;
      line-height: 7px;
    }

    .col-md-6 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .col-md-12 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  </style>
</head>

<body style="padding-top: 0px;">
  <div class="album py-5" id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" @change="previewFile">
              <label class="custom-file-label">Choose file</label>
            </div>
          </div>

          <form>
            <div class="form-group">
              <label>高度</label>
              <input v-model="video.height" type="number" :disabled="running" class="form-control">
            </div>
            <div class="form-group">
              <label>宽度</label>
              <input v-model="video.width" type="number" :disabled="running" class="form-control">
            </div>
            <div class="form-group">
              <label>字符集</label>
              <textarea v-model="charset" type="text" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" @click="process"
              :disabled="running || !video.height || !video.width || !video.src || charset.length === 0">开始</button>
          </form>
        </div>

        <div class="col-md-6">
          <video v-if="video.src" :src="video.src" @loadedmetadata="loaded" id="video" style="max-width: 100%;"></video>
        </div>

        <div class="col-md-12">
          <pre>{{frame}}</pre>
        </div>
      </div>
    </div>

  </div>
</body>

<script>
  async function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  var app = new Vue({
    el: '#app',
    data: {
      file: null,
      videoElem: null,
      video: {
        src: null,
        height: null,
        width: null,
        duration: null,
      },
      running: false,
      charset: '$@B%8&WM#*oahkbdpqwmzcvunxrjft/\\|()1{}[]?-_+~<>i!;:,\"^`\'. ',
      frame: '',
      frames: [],
    },
    methods: {
      previewFile(event) {
        this.file = event.target.files[0];
        this.video.src = window.URL.createObjectURL(this.file);
      },
      loaded(event) {
        const video = event.target;
        this.video.height = video.videoHeight;
        this.video.width = video.videoWidth;
        this.video.duration = Math.floor(video.duration * 10);
      },
      async process() {
        this.running = true;
        this.videoElem = document.getElementById('video');
        this.videoElem.currentTime = 0;
        const canvas = document.createElement('canvas');
        canvas.width = this.video.width;
        canvas.height = this.video.height;
        const ctx = canvas.getContext('2d');
        this.videoElem.play();
        console.log(Object.getOwnPropertyNames(this.videoElem));
        for (let i = 0; i < this.video.duration; i++) {
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(this.videoElem, 0, 0, canvas.width, canvas.height);
          const image = ctx.getImageData(0, 0, canvas.width, canvas.height);
          const frame = [];
          let pos = 0;
          for (let i = 0; i < image.height; i++) {
            const line = [];
            for (let j = 0; j < image.width; j++) {
              const r = image.data[pos++];
              const g = image.data[pos++];
              const b = image.data[pos++];
              const a = image.data[pos++];
              const y = 0.299 * r + 0.587 * g + 0.114 * b;
              const char = this.charset[Math.min(Math.ceil((y + 1) / Math.floor(256 / this.charset.length)), this.charset.length) - 1];
              line.push(char);
            }
            frame.push(line.join(''));
          }
          this.frame = frame.join('\n');
          this.frames.push(this.frame);
          await sleep(100);
        }
        this.running = false;
      },
    }
  })
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</html>