<html>

<head>
  <script src="/js/libgif.min.js"></script>
  <script src="/js/gifshot.min.js"></script>
  <script src="/js/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <input type="file" @change="previewFile">
    <video v-if="video.src" controls :src="video.src" @loadedmetadata="loaded"></video>
    <template v-if="video.height">
      <pre>
height: <input v-model="video.height">
width: <input v-model="video.width">
duration: {{video.duration}}
process rate: {{rate}} %
      </pre>
      <button @click="run" :disabled="running">开始制作</button>
    </template>
  </div>
</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      file: null,
      video: {
        src: null,
        height: null,
        width: null,
        duration: null,
      },
      rate: 0,
      running: false,
    },
    methods: {
      previewFile(event) {
        this.file = event.target.files[0];
        this.video.src = window.URL.createObjectURL(this.file);
      },
      loaded(event) {
        const video = event.target;
        this.video.height = video.videoHeight;
        this.video.width = video.videoWidth;
        this.video.duration = Math.floor(video.duration * 10);
      },
      run() {
        this.running = true;
        gifshot.createGIF({
          gifWidth: this.video.width,
          gifHeight: this.video.height,
          video: this.file,
          interval: 0.1,
          numFrames: this.video.duration,
          frameDuration: 1,
          fontWeight: 'normal',
          fontSize: '16px',
          fontFamily: 'sans-serif',
          fontColor: '#ffffff',
          textAlign: 'center',
          textBaseline: 'bottom',
          sampleInterval: 10,
          // filter: 'grayscale(1)',
          saveRenderingContexts: true,
          numWorkers: 2,
          progressCallback: (captureProgress) => {
            this.rate = (Number(captureProgress) * 100).toFixed(3);
          }
        },  (obj) => {
          if (!obj.error) {
            delete obj.image;
            const canvas = document.createElement("canvas");
            canvas.width = this.video.width;
            canvas.height = this.video.height;
            const ctx = canvas.getContext("2d");
            for (const image of obj.savedRenderingContexts) {
              ctx.clearRect(0, 0, canvas.width, canvas.height);
              ctx.putImageData(image, 0, 0);
              const img = document.createElement("img");
              img.src = canvas.toDataURL("image/png");
              document.body.appendChild(img);
            }
            this.running = false;
          }
        });
      }
    }
  })
</script>

</html>