<!doctype html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="js/vue.js"></script>
  <script type="text/javascript" src="js/omggif.js"></script>
  <script src="js/v2c.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>视频转字符画</title>
  <style>
    pre {
      font-size: 10px;
      line-height: 7px;
    }

    .col-md-6 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .col-md-12 {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .center {
      text-align: center;
    }
  </style>
</head>

<body style="padding-top: 0px;">
  <div class="album py-5" id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" @change="previewFile">
              <label class="custom-file-label">Choose file</label>
            </div>
          </div>

          <div class="form-group">
            <label>高度</label>
            <input v-model="video.height" type="number" :disabled="running" class="form-control" min="1" max="240">
          </div>
          <div class="form-group">
            <label>宽度</label>
            <input v-model="video.width" type="number" :disabled="running" class="form-control" min="1" max="480">
          </div>
          <div class="form-group">
            <label>字符集</label>
            <textarea v-model="charset" type="text" class="form-control" :disabled="running"></textarea>
          </div>
          <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" v-model="gray" :disabled="running">
            <label class="form-check-label">
              灰度 GIF 输出
            </label>
          </div>
          <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" v-model="colorful" :disabled="running">
            <label class="form-check-label">
              彩色 GIF 输出
            </label>
          </div>
          <button class="btn btn-primary" @click="process"
            :disabled="running || !video.height || !video.width || !video.src || charset.length === 0">开始</button>
          <button class="btn btn-primary" @click="end" :disabled="!running">完成</button>
          <button class="btn btn-primary" @click="downloadText" :disabled="texts.length === 0 || running">下载
            HTML</button>
          <button class="btn btn-primary" @click="downloadGray" :disabled="texts.length === 0 || running"
            v-if="gray">下载灰度 GIF</button>
          <button class="btn btn-primary" @click="downloadText" :disabled="texts.length === 0 || running"
            v-if="colorful">下载彩色 GIF</button>
        </div>

        <div class="col-md-6">
          <video v-if="video.src" :src="video.src" @loadedmetadata="loaded" id="video" style="max-width: 100%;"></video>
        </div>

        <div class="col-md-12 center">
          <pre>{{text}}</pre>
        </div>
        <div class="col-md-12 center" v-if="gray">
          <canvas id="gray">
          </canvas>
        </div>
        <div class="col-md-12 center" v-if="colorful">
          <canvas id="colorful">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</body>

<script>
  async function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  var app = new Vue({
    el: '#app',
    data: {
      file: null,
      video: {
        src: null,
        height: null,
        width: null,
        duration: null,
      },
      running: false,
      charset: '$@B%8&WM#*oahkbdpqwmzcvunxrjft/\\|()1{}[]?-_+~<>i!;:,\"^`\'. ',
      text: '',
      texts: [],
      gray: true,
      grayImages: [],
      colorful: false,
      colorfulImages: [],
    },
    methods: {
      previewFile(event) {
        this.file = event.target.files[0];
        this.video.src = window.URL.createObjectURL(this.file);
      },
      loaded(event) {
        const video = event.target;
        this.video.height = video.videoHeight / 10;
        this.video.width = video.videoWidth / 10;
        this.video.duration = Math.floor(video.duration * 10);
      },
      end() {
        const videoElem = document.getElementById('video');
        videoElem.pause();
        this.running = false;
      },
      async process() {
        this.running = true;
        const videoElem = document.getElementById('video');
        videoElem.currentTime = 0;
        videoElem.play();
        this.texts = [];
        this.grayImages = [];
        this.colorfulImages = [];
        const v2cVideo = new V2CVideo(videoElem, this.video.width, this.video.height, this.charset);
        for (let i = 0; i < this.video.duration && this.running; i++) {
          const screenshot = v2cVideo.screenshot(this.gray, this.colorful);
          this.text = screenshot.text;
          this.texts.push(this.text);
          if (this.gray) {
            const canvasElem = document.getElementById('gray');
            canvasElem.width = this.video.width * 7;
            canvasElem.height = this.video.height * 7;
            const ctx = canvasElem.getContext('2d');
            ctx.clearRect(0, 0, canvasElem.width, canvasElem.height);
            ctx.putImageData(screenshot.grayImage, 0, 0);
            this.grayImages.push(screenshot.grayImage);
          }
          if (this.colorful) {
            const canvasElem = document.getElementById('colorful');
            canvasElem.width = this.video.width * 7;
            canvasElem.height = this.video.height * 7;
            const ctx = canvasElem.getContext('2d');
            ctx.clearRect(0, 0, canvasElem.width, canvasElem.height);
            ctx.putImageData(screenshot.colorfulImage, 0, 0);
          }
          await sleep(100);
        }
        this.running = false;
      },
      downloadText() {
        downloadText(this.texts);
      },
      downloadGray() {
        downloadGray(this.grayImages);
      },
      downloadColorful() {

      }
    }
  })
</script>

<script src="js/jquery-3.5.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>